__pycache__/bd.cpython-311.pyc
__pycache__/carro.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/model.cpython-311.pyc
routes/__pycache__/categoria.cpython-311.pyc
routes/__pycache__/producto.cpython-311.pyc
routes/__pycache__/proveedor.cpython-311.pyc
routes/__pycache__/tienda.cpython-311.pyc
schemas/__pycache__/categoria.cpython-311.pyc
schemas/__pycache__/producto.cpython-311.pyc
schemas/__pycache__/proveedor.cpython-311.pyc
.env
fasttienda
log.txt
